/*********************************************************************************/
/* Additional Formatting											             */
/*********************************************************************************/

.job-desc {
	font-size: 80%;
	line-height: normal;
}

.job-title {
	font-weight: bold;
}

.welcome-subtitle {
	color: #FFDCF0;
}

.welcome-title {
	font-weight: bold;
	color: black;

}